body{ 
    font-family: sans-serif; 
    background: #222; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
}
.cult_video{
    width: 500px;
    border-radius: 100px;
}
.caixa{ 
    background: #333; 
    padding: 15px; 
    border-radius: 8px; 
    max-width: 400px; 
    margin: 20px auto; 
    text-align: center; 
}
input,select,button{ 
    width: 100%; 
    padding: 10px; 
    margin: 8px 0; 
    border-radius: 4px; 
    border: none; 
    box-sizing: border-box; 
}
input[type="text"]{
    color: #d42a00;
}
select{
    color: #019baf;
    cursor: pointer; 
}
button { 
    background: #00bcd4; 
    color: white; 
    font-weight: bold; 
    cursor: pointer; 
}
button:hover{
    background: #d42a00; 
    color: rgb(0, 0, 0); 
    transition: 0.3s ease-in-out;
    transform: 0.2s ease;
}
/*--------------------------------------------------------------*/
strong{
    color: red;
}